.table-heading{
    border: 5px solid blue;
    width: 40rem;
}
.content-heading{
    display: flex;
    /* border: 5px solid blue; */
    width: 41rem;
    justify-content: space-evenly;
    margin-top: 2%;
}
#table__tr1{
   
}
th{
    border:2px solid blue;
    width: 10rem;
}
#tr1{
  display: non;
}
#tr2{
    display: non;
  }
  #tr3{
    display: non;
  }
button{
    background-color: red;
    color:white;
    height: 1.5rem;
    width: 5rem;
}
#1{}